<div class="row">  
   <h5>About Us</h5>
    <div class="card">
      <div class="card-content">
       
        <p>The Amazing & Marvelous Creamery are a 
          chain of ice cream stores dedicated to providing qulaity
          Ice Cream all over the world.
          The links below will tell you more about 
          our services and in the near future we will be 
          expanding this site.
        </p>
      </div>
    </div>
  </div>
</div>

