<h4>Pay Grade</h4>
  <table class="striped highlight">
    <thead>
      <th>Pay Grade ID</th>
      <th>Level</th>
      <th>Active</th>
    </thead>
      <tr>
        <td><%= @pay_grade.id %></td>
        <td><%= @pay_grade.level %></td>
        <td><%= @pay_grade.active %></td>
      </tr>
  </table>
  <br />